
<style>
  body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1, h2 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

</style>


 